<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class=""  method="post">
      {% csrf_token %}
    <h1>Doctor Registration</h1>
    <label for="f_name">first name</label>
    <input type="text" name="first_name" value=""><br>
    <label for="f_name">last name</label>
    <input type="text" name="last_name" value=""><br>
    <label for="f_name">gender</label>
    <input type="text" name="gender" value=""><br>
    <label for="date_of_birth">date of birth</label>
    <input type="date" name="dob" value=""><br>
    <label for="experience">experience</label>
    <input type="number" name="experience" value=""><br>
    <label for="hospital">hospital</label>
    <input type="text" name="hospital" value=""><br>
    <label for="f_name">email</label>
    <input type="text" name="email" value=""><br>
    <label for="f_name">mobile</label>
    <input type="text" name="mobile" value=""><br>
    <label for="f_name">telephone</label>
    <input type="text" name="telephone" value=""><br>
    <label for="f_name">address</label>
    <input type="textarea" name="address" value=""><br>
    <label for="f_name">reg_no</label>
    <input type="text" name="reg_no" value=""><br>
    <label for="consultation_fee">Consultation fee</label>
    <input type="number" name="consultation_fee" value=""><br>
    <label for="f_name">password</label>
    <input type="text" name="password" value=""><br>
    <label for="f_name">qualification</label>
    <input type="text" name="Qualification" value=""><br>
    <input type="submit" name="" value="submit">

  </form>
  </body>
</html>
